/* Write your CSS here */

.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-container {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  margin: 30px;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
